*,
:before,
:after {
	box-sizing: border-box;
	border-width: 0;
	border-style: solid;
	scroll-behavior: smooth;
}
* {
	box-sizing: border-box;
}
:before,
:after {
	--tw-content: '';
}
html,
:host {
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	font-family:
		ui-sans-serif,
		system-ui,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji',
		Segoe UI Symbol,
		'Noto Color Emoji';
	font-feature-settings: normal;
	font-variation-settings: normal;
	-webkit-tap-highlight-color: transparent;
}
body {
	margin: 0;
	line-height: inherit;
}
hr {
	height: 0;
	color: inherit;
	border-top-width: 1px;
}
abbr:where([title]) {
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
a {
	color: inherit;
	text-decoration: inherit;
}
b,
strong {
	font-weight: bolder;
}
code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Menlo,
		Monaco,
		Consolas,
		Liberation Mono,
		Courier New,
		monospace;
	font-feature-settings: normal;
	font-variation-settings: normal;
	font-size: 1em;
}
small {
	font-size: 80%;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -0.5em;
}
table {
	text-indent: 0;
	border-color: inherit;
	border-collapse: collapse;
}
button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-feature-settings: inherit;
	font-variation-settings: inherit;
	font-size: 100%;
	font-weight: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	color: inherit;
	margin: 0;
	padding: 0;
}
button,
select {
	text-transform: none;
}
button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
	-webkit-appearance: button;
	background-color: transparent;
	background-image: none;
}
:-moz-focusring {
	outline: auto;
}
:-moz-ui-invalid {
	box-shadow: none;
}
progress {
	vertical-align: baseline;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}
[type='search'] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}
::-webkit-search-decoration {
	-webkit-appearance: none;
}
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}
summary {
	display: list-item;
}
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
	margin: 0;
}
fieldset {
	margin: 0;
	padding: 0;
}
legend {
	padding: 0;
}
ol,
ul,
menu {
	list-style: none;
	margin: 0;
	padding: 0;
}
dialog {
	padding: 0;
}
textarea {
	resize: vertical;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
	opacity: 1;
	color: #9ca3af;
}
input::placeholder,
textarea::placeholder {
	opacity: 1;
	color: #9ca3af;
}
button,
[role='button'] {
	cursor: pointer;
}
:disabled {
	cursor: default;
}
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
	display: block;
	vertical-align: middle;
}
img,
video {
	max-width: 100%;
	height: auto;
}
[hidden]:where(:not([hidden='until-found'])) {
	display: none;
}

:root {
	--theme-color-1: #ffff;
	--theme-color-2: #f2f1f1;
	--theme-color-3: #7b7b7b;
	--text-colors-1: #030303;
	--text-colors-2: #2b2b2b;
	--text-colors-3: #151a09;
}

html[class='dark'] {
	--theme-color-1: #1b1b1f;
	--theme-color-2: #202127;
	--theme-color-3: #525252;
	--text-colors-1: #ffffff;
	--text-colors-2: #ebe9e6;
	--text-colors-3: #b7b7b7;
}

body {
	font-family: 'Noto Serif Variable', serif;
	background-color: var(--theme-color-1);
	color: var(--text-colors-1);
	overflow: auto;
}

::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-track {
	background: var(--theme-color-2);
}

::-webkit-scrollbar-thumb {
	background: var(--theme-color-3);
	border-radius: 16px;
}

::-webkit-scrollbar-corner {
	background: var(--theme-color-2);
}

.line-clamp-1 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
}

.line-clamp-2 {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.line-clamp-3 {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
}

.md-body {
	padding: 22px 22px;

	pre {
		max-height: 500px;
		overflow: scroll !important;
	}

	& p {
		line-height: 1.5;
		margin: 12px 0;
	}
}
